<mat-tab-group>

<mat-tab label="Find Your Recycling">
	<div class="table">
		<h2>Enter your main street to find your local recycling day!</h2>
	<mat-form-field>
	  <input matInput (keyup)="applyFilter($event.target.value)" placeholder="Filter">
	</mat-form-field>
	<table mat-table [dataSource]="dataSource">

		<ng-container matColumnDef="name">
		  <th mat-header-cell *matHeaderCellDef> Name </th>
		  <td mat-cell *matCellDef="let street"> {{street.name}} </td>
		</ng-container>

		<ng-container matColumnDef="day">
	    	<th mat-header-cell *matHeaderCellDef> Day </th>
	    	<td mat-cell *matCellDef="let street"> {{street.day}} </td>
	  	</ng-container>

		<tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
	<tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>

	</table>
	<mat-paginator [pageSizeOptions]="[10, 20, 30]" showFirstLastButtons></mat-paginator>
	</div>
</mat-tab>
<mat-tab label="Local Recycling Statistics">

	<div class="table">
		<h2>Fayetteville Recycling Statistics by year</h2>
	
	<table mat-table [dataSource]="dataSourceStats">

		<ng-container matColumnDef="year">
		  <th mat-header-cell *matHeaderCellDef> Year </th>
		  <td mat-cell *matCellDef="let row"> {{row.year}} </td>
		</ng-container>

		<ng-container matColumnDef="glass">
		  <th mat-header-cell *matHeaderCellDef> Glass </th>
		  <td mat-cell *matCellDef="let row"> {{row.glass}} </td>
		</ng-container>

		<ng-container matColumnDef="alum">
		  <th mat-header-cell *matHeaderCellDef> Alum. Cans </th>
		  <td mat-cell *matCellDef="let row"> {{row.alum}} </td>
		</ng-container>

		<ng-container matColumnDef="paper">
		  <th mat-header-cell *matHeaderCellDef> Mixed Paper </th>
		  <td mat-cell *matCellDef="let row"> {{row.paper}} </td>
		</ng-container>

		<ng-container matColumnDef="news">
		  <th mat-header-cell *matHeaderCellDef> Newspaper </th>
		  <td mat-cell *matCellDef="let row"> {{row.news}} </td>
		</ng-container>

		<ng-container matColumnDef="cardb">
		  <th mat-header-cell *matHeaderCellDef> Cardboard </th>
		  <td mat-cell *matCellDef="let row"> {{row.cardb}} </td>
		</ng-container>

		<ng-container matColumnDef="chipb">
		  <th mat-header-cell *matHeaderCellDef> Chip board </th>
		  <td mat-cell *matCellDef="let row"> {{row.chipb}} </td>
		</ng-container>

		<ng-container matColumnDef="steelC">
		  <th mat-header-cell *matHeaderCellDef> Steel Cans </th>
		  <td mat-cell *matCellDef="let row"> {{row.steelC}} </td>
		</ng-container>

		<ng-container matColumnDef="plasticB">
		  <th mat-header-cell *matHeaderCellDef> Plastic Bottles </th>
		  <td mat-cell *matCellDef="let row"> {{row.plasticB}} </td>
		</ng-container>

		<ng-container matColumnDef="scrapMetal">
		  <th mat-header-cell *matHeaderCellDef> Scrap Metal </th>
		  <td mat-cell *matCellDef="let row"> {{row.scrapMetal}} </td>
		</ng-container>

		<ng-container matColumnDef="concrete">
		  <th mat-header-cell *matHeaderCellDef> Concrete </th>
		  <td mat-cell *matCellDef="let row"> {{row.concrete}} </td>
		</ng-container>

		<ng-container matColumnDef="ewaste">
		  <th mat-header-cell *matHeaderCellDef> E-waste </th>
		  <td mat-cell *matCellDef="let row"> {{row.ewaste}} </td>
		</ng-container>

		<tr mat-header-row *matHeaderRowDef="displayedColumnsStats"></tr>
	<tr mat-row *matRowDef="let row; columns: displayedColumnsStats"></tr>

	</table>
	</div>

</mat-tab>

</mat-tab-group>