<div class="container">
	<div class="inputs col-md-6">
		<h2>What have you recycled today?</h2>
		<div>
		    <input placeholder="object name" #objectName />
		    <input placeholder="object weight" #objectWeight />
		  <!-- (click) passes input value to add() and then clears the input -->
		  <button (click)="add(objectName.value, objectWeight.value); objectName.value=''; objectWeight;">
		    submit
		  </button>
		</div>
	</div>
	<div class="results col-md-6">
		<h2> List of total objects:</h2>
		<ul>
		  <li *ngFor="let recyclable1 of recyclablesArray">
		    <span class="badge">At {{recyclable1.time | date:'medium' }}, you recycled {{recyclable1.weightlbs}} lbs ({{recyclable1.weightkg | number : '1.2-2'}} kgs) of {{recyclable1.name}}!!</span>  
		  </li>
		</ul>

		<h3 style="padding-bottom: 20%;">Total weight recycled: {{ totalweight}} lbs ({{ totalweightkg | number : '1.2-2'}} kgs)  </h3>
	</div>
</div>


