<div class="container">

<div class="level" *ngIf="activateLevel==true">
	<mat-card>
	<mat-card-title>You are a Level {{level}} Recycler!</mat-card-title>
	</mat-card>
</div>

<mat-grid-list cols="2" rowHeight="400px">
  <mat-grid-tile>
		<mat-card class="inputs">
			<mat-card-title>What have you recycled today?</mat-card-title>
			<mat-card-content>
			    <input placeholder="object name" #objectName />
			    <input placeholder="object weight(lbs)" #objectWeight />
			  <button (click)="add(objectName.value, objectWeight.value); objectName.value=''; objectWeight.value='';">submit</button>
			</mat-card-content>
		</mat-card>
	</mat-grid-tile>
	<mat-grid-tile>
		<mat-card class="results">
			<mat-card-title>List of total objects</mat-card-title>
			<mat-card-content>
				<ul>
				  <li *ngFor="let recyclable1 of recyclablesArray">
				    <span class="badge">On {{recyclable1.time | date:'medium' }}, you recycled {{recyclable1.weightlbs}} lbs ({{recyclable1.weightkg | number : '1.2-2'}} kgs) of {{recyclable1.name}}!!</span>  
				  </li>
				</ul>
				<h3>Total weight recycled: {{ totalweight}} lbs ({{ totalweightkg | number : '1.2-2'}} kgs)</h3>
			</mat-card-content>
		</mat-card>
	</mat-grid-tile>
 </mat-grid-list>
</div>


