<!--The content below is only a placeholder and can be replaced.-->
<mat-toolbar class="navbar" mat-toolbar>
  <div style="text-align:center">
    <img class="img-responsive" src="assets/images/BottleCropped.png">
  </div>
  
  <span class="fill-remaining"><button mat-button class="navButton" routerLink="" >Home</button></span>
  <span class="fill-remaining"><button mat-button class="navButton" routerLink="/statistics">Stats</button></span>
  <span class="fill-remaining"><button mat-button class="navButton" routerLink="/myrecycling">My Recycling</button></span>
  <span class="fill-remaining"><button mat-button class="navButton" routerLink="/sample-phrases" >Phrases</button></span>
</mat-toolbar>

<router-outlet></router-outlet>









<footer layout="row" class="md-padding">
  <div>
 Ⓒ 2019 Adam Greenfield, Andrea Donati, Austin Chitmon, Beau Cross, Caroline Gschwend, Turner Sawyer, All Rights Reserved <br> <a href="https://docs.google.com/document/d/1OktCJzI-LrsM-59jdVD0hu7lyRmpShLbvejq7qhH8os/edit?usp=sharing" target="_blank"> Privacy Policy</a>
  </div>
</footer>
<!-- <footer style="padding-top: 60px; font-style:italic; font-size: 12px;">
    Ⓒ 2019 Adam Greenfield, Andrea Donati, Austin Chitmon, Beau Cross, Caroline Gschwend, Turner Sawyer, All Rights Reserved <div style="text-decoration: underline"> Privacy Policy </div>
</footer>  -->


