@import "~@angular/material/prebuilt-themes/indigo-pink.css";
@import "src/styles.scss";
@import url('https://fonts.googleapis.com/css?family=Roboto');

$general-font:  Arial, Helvetica, sans-serif;
$navbar-font: 'Roboto', sans-serif;

span {
    display: inline-block;
    vertical-align: middle;
}
h1 {
    font-family: $general-font;
}
.IntroText {
    border-radius: 20px;
    height: 9vw;
    background-color: rgba($main-color, $alpha: 0.3);
    box-shadow: 10px 5px 5px rgba(0, 0, 0, 0.1);
}
.AboutText {
    margin: 0 auto;
    width: 75%;
    font-size: 3vw;
    font-family: $general-font;
    font-weight: 200;
}
.img-responsive {
    width: 18vw;
}

$navsize: 6%;
.navbar {
    background-color: rgba(0, 0, 0, $alpha: 0.1);
    height: $navsize;
}
.navButton {
    width: 100%;
    font-family: $navbar-font;
    font-weight: 200;
    font-size: 3vw;
    padding: 6%;
}
@media screen and (min-width: 1024px){
    .navbar {
        height: 74px;
    }
    .navButton {
        font-size: 30.7px; 
        padding: 13.55px;
    }
    .img-responsive {
        width: 184px;
    }
}
.fill-remaining {
    flex: 1 1 auto;
}