<div class="container">
  <h1>How to use the Google Assistant App</h1>

<h2>Begin your inquiry with the phrase:<div class="imp">"Talk to Mucky Bottle"</div></h2>

<div class="eng"><h3>Next, ask it something like...</h3>
<ul style="list-style-type:disc;">
  <div class="sample">
  <li>
    What should I recycle?
  </li>
  <li>
  Can you recycle a battery?
  </li>
  <li>
    Should I recycle a bottle?
  </li>
  <li>
    Where can I recycle?
  </li>
  <li>
    What's your backstory?
  </li>
  </div>
</ul></div>

<div class="esp"><h3>Mucky Bottle also speaks Spanish!</h3>
<ul class="sample">
  <li>
    Spanish 1
  </li>
  <li>
    Spanish 2
  </li>
  <li>
    Spanish 3
  </li>
</ul>
</div>
</div>