.container {
	font-family: 'Roboto', sans-serif;
	font-weight: 300;
	text-align: center;
	.imp {
		color: #39a731;
	}
	ul {
		text-align: left;
	}
	.eng, .esp {
		padding: 30px;
		margin: 20px 400px 20px 400px;
		font-size: 15px;
		background-color: rgba(0, 0, 0, $alpha: 0.1);
	}
}

.sample
{
    font-style: italic;
}