<div class="container">

<mat-card class="google">
  <mat-card-title>How to use the Google Assistant App</mat-card-title>
  <mat-card-content>
    <h2>Begin your inquiry with the phrase:<div class="imp">"Talk to Mucky Bottle"</div></h2>
  </mat-card-content>
</mat-card>

<mat-grid-list cols="2" rowHeight="400px">
  <mat-grid-tile >
    <mat-card class="eng">
      <mat-card-title>Next, ask it something like...</mat-card-title>
      <mat-card-content>
      <ul class="sample">
        <li>What should I recycle?</li>
        <li>Can you recycle a battery?</li>
        <li>Should I recycle a bottle?</li>
        <li>Where can I recycle?</li>
        <li>What's your backstory?</li>
      </ul>
      </mat-card-content>
    </mat-card>
  </mat-grid-tile>
  <mat-grid-tile>
    <mat-card class="esp">
      <mat-card-title>Mucky Bottle also speaks Spanish!</mat-card-title>
      <mat-card-content>
        <ul class="sample">
          <li>Que deberia reciclar?</li>
          <li>Puedo reciclar una bateria?</li>
          <li>Puedo reciclar una botella?</li>
          <li>Donde puedo ir a reciclar?</li>
          <li>Cuentame un poco de tu vida!</li>
        </ul>
      </mat-card-content>
    </mat-card>
  </mat-grid-tile>
</mat-grid-list>
</div>