<h1>Begin your inquiry with the phrase:</h1>
<div>Hey Mucky Bottle!</div>
<div>Next, ask it something like...</div>
<ul style="list-style-type:disc;">
  <div class="sample">
  <li>
    What should I recycle?
  </li>
  <li>
  Can you recycle a battery?
  </li>
  <li>
    Should I recycle a bottle?
  </li>
  <li>
    Where can I recycle?
  </li>
  <li>
    What's your backstory?
  </li>
</ul>
</div>
<div>Mucky Bottle also speaks Spanish!</div>
<ul class="sample">
  <li>
    Spanish 1
  </li>
  <li>
    Spanish 2
  </li>
  <li>
    Spanish 3
  </li>
</ul>