.container {
	font-family: 'Roboto', sans-serif;
	font-weight: 300;
	text-align: center;
	.imp {
		color: #39a731;
	}
	ul {
		text-align: left;
	}
	.google {
		margin-top: 30px;
		text-align: center;
		float: center;
		margin-right: auto;
		margin-left: auto;
	}

}
.eng, .esp {
		text-align: center;
		margin-top: auto;
		margin-bottom: auto;
		padding: 80px;
		float: left;
	}

.sample
{
    font-style: italic;
}