<br>
<h1 style="text-align:center">About Us</h1>
<ul style="list-style: none" class="IntroText">
  <span><li class="AboutText">MuckyBottle is a multi-platform software inteded to work on a web-browser or Google Home. With convenience as the forefront design philosophy, information about the recycling process is a spoken word away! </li></span>
</ul>
<br><br>
<h1 style="text-align: center">How to get involved</h1>

  <ol class="IntroText" start="1" style="list-style:upper-roman">
    <span>
    <li class="AboutText">
      Begin by checking out the sample phrases you can ask the Mucky Bottle
    </li>
    <li class="AboutText">
      Add your recycled material into the global database
    </li>
    <li class="AboutText">
      Take pride in knowing you are preventing Mucky Bottles everywhere!
    </li>
    </span>
  </ol>