
<mat-card class="card">
  <mat-card-title>Hi I'm Mucky Bottle!</mat-card-title>
  <mat-card-subtitle>The recycling tracking system</mat-card-subtitle>
  <img mat-card-image src="./assets/images/landfill.jpg">
  <mat-card-content>
    <p>
      I was dumped in a landfill much like this one in 1947 and have been gathering muck ever since. Each year I gain 22 billion siblings worldwide. I have spent my tiresome existence trying to convince mortals to recycle when they can. I hope you learn something today!
    </p>
  </mat-card-content>
</mat-card>
<mat-card class="card">
  <mat-card-title>About Us</mat-card-title>
  <mat-card-content>
    <p>MuckyBottle is a multi-platform software inteded to work on a web-browser or Google Home. With convenience as the forefront design philosophy, information about the recycling process is a spoken word away!</p>
  </mat-card-content>
</mat-card>
<mat-card class="card">
  <mat-card-title>How to get involved</mat-card-title>
  <mat-card-content>
    <ol>
      <span class="left">
      <li>
        Begin by checking out the sample phrases you can ask the Mucky Bottle.
      </li>
      <li>
        Check your local recycling times on the Stats page.
      </li>
      <li>
        Add your recycled material into your personal user database on the My Recycling page.
      </li>
      <li>
        Take pride in knowing you are preventing the accumulation of Mucky Bottles everywhere!
      </li>
      </span>
    </ol>
  </mat-card-content>
</mat-card>